
    h1 {color: white;}
    body {Padding-top: 1cm;Padding-left:2cm;Padding-Right:2cm;font-size:0.5cm;text-align: center;}
    body{Border:2cm Double blue}
    h1{font-family: Arial, Helvetica, sans-serif;}
    body{color:black;background-image: Url("https://images.unsplash.com/photo-1512273222628-4daea6e55abb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    Background-color:white}